
// Color Vars
$white: #fff;
$blue: material-color('cyan', '400');
$blue-light: #e0ffff;
$red: material-color('red', '400');
$yellow: material-color('amber', '500');
$orange: material-color('orange', '400');
$green: material-color('green', '400');
$green-dark: material-color('green', '800');
$pink: material-color('pink', '400');


$primary-color: $pink;