// Overwrite some defaults

.navbar-collapse {
  float: left;
}

.navbar-toggle {
  margin-right: 0;
  margin-bottom: 4px;
}

.navbar-icon {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

// Custom styles

.navbar {
  background-color: #000;
  background-color: rgba(#000, 0.525);
  color: $white;
  font-weight: 300;
  margin-bottom: 0;
  a {
    color: $white;
  }
  &-brand {
    line-height: 26px;
    @media (min-width: $screen-sm-min) {
      line-height:20px;
    }
    font-weight: 500;
  }
}

.nav > li > a:focus, .nav > li > a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  text-decoration: none;
  background-color: #000;
  background-color: rgba(#000, 0.2);
}

.navbar-collapse {
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: auto;
  }
}

// Icons size
[class*=" md-"], [class^=md-] {
  font-size: 22px;
  @media (min-width: $screen-sm-min) {
    font-size: inherit;
  }
}