// Rating
.rating {
  @extend .clearfix;
  @extend %reset-list;
  display: block;
  ul {
    @extend %reset-list;
  }
  li {
    @extend %reset-list;
    display: inline-block;
  }
  i {
    //background: darken(#fff, 0%);
    //border-radius: 50%;
    color: $yellow;
    font-size: 32px;
    transition: color 0.3s ease-in-out;
    &:hover,&:focus {
      color: lighten($yellow, 15%);
      //@include pulse();
    }
  }
}
